<section class="section">
  <div class="container">
  
  <div class="card">
   <div class="card-body">
    <div class="text-center">
      <h2 class="card-title"><strong><%= @event.title %></strong></h2>
      <h6 class="card-subtitle mb-2 text-muted"><%= @event.location %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= @event.starts_at %></h6>
      <h6 class="card-subtitle">Hosted by: <%= @event.creator.name %></h6>
      <br>
        <% if user_signed_in? && @event.attendees.include?(current_user) %>
          <%= link_to "Unattend this event", unattend_event_path(@event.id), class: "btn btn-lg btn-danger" %>
        <% else %>
          <%= link_to "Attend this event", attend_event_path(@event.id), class: "btn btn-lg btn-success" %>
        <% end %>
    </div>
    <br>
    
    <p class="card-text"><%= @event.detail %></p>
    <br>
    <h6>Attendees:</h6>
      <% if @event.attendees.empty? %>
      <p class="text-muted">There's no attendees for this event yet.</p>
      <% else %>
        <div class="list-group">
          <% @event.attendees.each do |attendee| %>
          <li class="list-group-item"><%= attendee.name %></li>
          <% end %>
        </div>
      <% end %>
  </div>
  <% if current_user == @event.creator %>
  <div class="card-footer">
    <div class="d-flex justify-content-end">
      <ul class="list-group list-group-horizontal">
          
        <%= link_to edit_event_path(@event), class: "list-group-item" do %>
        <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% end %>
      
        <br />
        <%= link_to @event,
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "list-group-item" do %>
        <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
        <% end %>
      </ul>
   </div>
  </div>
<% end %>
</div>
</div>
</section>
